# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/local.properties
lib/generated/
*.g.dart
*.freezed.dart
lib/app/di/di.config.dart

# Environment
.env*
!.env.example

# OS
.DS_Store
